/* line 7, /home/jay/src/blag/assets/sass/code.sass */
.highlight .c, .highlight .cm, .highlight .cs, .highlight .c1, .highlight .cp {
  color: #6c8b9f;
}
/* line 14, /home/jay/src/blag/assets/sass/code.sass */
.highlight .err, .highlight .gr {
  font-weight: bold;
  color: #fefeec;
  background-color: #cc0000;
}
/* line 20, /home/jay/src/blag/assets/sass/code.sass */
.highlight .k, .highlight .kd {
  color: #f6dd62;
  font-weight: bold;
}
/* line 25, /home/jay/src/blag/assets/sass/code.sass */
.highlight .o, .highlight .ow {
  color: #4df4ff;
  font-weight: bold;
}
/* line 30, /home/jay/src/blag/assets/sass/code.sass */
.highlight .c1, .highlight .cs, .highlight .cm, .highlight .cp {
  font-style: italic;
}
/* line 36, /home/jay/src/blag/assets/sass/code.sass */
.highlight .gd {
  color: #cc0000;
}
/* line 39, /home/jay/src/blag/assets/sass/code.sass */
.highlight .ge {
  font-style: italic;
}
/* line 42, /home/jay/src/blag/assets/sass/code.sass */
.highlight .gh {
  color: navy;
  font-weight: bold;
}
/* line 46, /home/jay/src/blag/assets/sass/code.sass */
.highlight .gi {
  color: #00a000;
}
/* line 49, /home/jay/src/blag/assets/sass/code.sass */
.highlight .go {
  color: gray;
}
/* line 52, /home/jay/src/blag/assets/sass/code.sass */
.highlight .gp {
  color: navy;
  font-weight: bold;
}
/* line 56, /home/jay/src/blag/assets/sass/code.sass */
.highlight .gs {
  font-weight: bold;
}
/* line 59, /home/jay/src/blag/assets/sass/code.sass */
.highlight .gu {
  color: purple;
  font-weight: bold;
}
/* line 63, /home/jay/src/blag/assets/sass/code.sass */
.highlight .gt {
  color: #0040d0;
}
/* line 66, /home/jay/src/blag/assets/sass/code.sass */
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
/* line 70, /home/jay/src/blag/assets/sass/code.sass */
.highlight .kn, .highlight .kp, .highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
/* line 76, /home/jay/src/blag/assets/sass/code.sass */
.highlight .kt, .highlight .no, .highlight .nc, .highlight .nd, .highlight .nn, .highlight .bp, .highlight .ne {
  font-weight: bold;
  color: #b2fd6d;
}
/* line 86, /home/jay/src/blag/assets/sass/code.sass */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #4df4ff;
  font-weight: bold;
}
/* line 94, /home/jay/src/blag/assets/sass/code.sass */
.highlight .s, .highlight .sb, .highlight .sh, .highlight .sd, .highlight .sr, .highlight .s1, .highlight .s2 {
  color: #fff0a6;
  font-weight: bold;
}
/* line 104, /home/jay/src/blag/assets/sass/code.sass */
.highlight .se, .highlight .sc, .highlight .si, .highlight .sx, .highlight .ss {
  color: #4df4ff;
  font-weight: bold;
}
/* line 112, /home/jay/src/blag/assets/sass/code.sass */
.highlight .na {
  color: #7d9029;
}
/* line 116, /home/jay/src/blag/assets/sass/code.sass */
.highlight .nb {
  color: #f6dd62;
}
/* line 119, /home/jay/src/blag/assets/sass/code.sass */
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* line 123, /home/jay/src/blag/assets/sass/code.sass */
.highlight .nl {
  color: #a0a000;
}
/* line 126, /home/jay/src/blag/assets/sass/code.sass */
.highlight .nt {
  color: green;
  font-weight: bold;
}
/* line 130, /home/jay/src/blag/assets/sass/code.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 133, /home/jay/src/blag/assets/sass/code.sass */
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .nf {
  color: #a8e1fe;
}
/* line 140, /home/jay/src/blag/assets/sass/code.sass */
.highlight .il {
  color: #666666;
}
