.highlight { color: #F8F8F2; background-color: #272822 }
.highlight .hll { background-color: #ffffcc } /* [Jay] Not sure what this does. */

/* Comment, Comment.Multiline, Comment.PreProc, Comment.Single, Comment.Special */
.highlight .c, .cm, .cp, .c1, .cs { color: #75715E; }

/* Error */
.highlight .err { color: #960050; background-color: #1E0010 }

/* Keyword, Keyword.Constant, Keyword.Declaration, Keyword.Namespace, Keyword.Pseudo, Keyword.Reserved, Keyword.Type */
.highlight .k, .kc, .kd, .kn, .kr, .kt { color: #F92672; font-weight: bold }

/* Keyword.Type */

/* Operator */
.highlight .o { color: #F92672 }

/* Generic.Deleted */ /* vim: DiffDelete */
.highlight .gd { color: #960050; background-color: #1E0010 }

/* Generic.Emph */
.highlight .ge { font-style: italic }

/* Generic.Error */ /* vim: ErrorMsg */
.highlight .gr { color: #F92672; background-color: #232526; font-weight: bold }

/* Generic.Heading */
.highlight .gh { color: #ef5939; font-weight: bold }

/* Generic.Inserted */ /* vim: DiffAdd */
.highlight .gi { background-color: #13354A }

/* Generic.Output */ /* vim: none */
.highlight .go { color: #808080 }

/* Generic.Prompt */ /* vim: none */
.highlight .gp { color: #000080; font-weight: bold }

/* Generic.Strong */
.highlight .gs { font-weight: bold }

/* Generic.Subheading */ /* vim: none */
.highlight .gu { color: #800080; font-weight: bold }

/* Generic.Traceback */ /* vim: none */
.highlight .gt { color: #0040D0 }

/* Name.Attribute, Name.Variable */ /* vim: Identifier */
.highlight .na, .nv { color: #FD971F }

/* Name.Builtin */ /* vim: Keyword */
.highlight .nb { color: #ae81ff; font-weight: bold }

/* Name.Class, Name.Namespace, Name.Constant */ /* vim: Type */
.highlight .nc, .no, .nn { color: #66D9EF }

/* Name.Decorator */ /* vim: Define */
.highlight .nd { color: #66D9EF }

/* Name.Entity */ /* vim: SpecialChar */
.highlight .ni { color: #F92672; font-weight: bold }

/* Name.Exception */ /* vim: Exception */
.highlight .ne { color: #A6E22E; font-weight: bold }

/* Name.Function */ /* vim: Function */
.highlight .nf { color: #A6E22E }

/* Name.Label */ /* vim: Label */
.highlight .nl { color: #E6DB74 }

/* Name.Tag */ /* vim: Tag */
.highlight .nt { color: #F92672; font-style: italic }

/* Operator.Word */ /* vim: Operator */
.highlight .ow { color: #F92672 }

/* Text.Whitespace */ /* vim: none */
.highlight .w { color: #bbbbbb }

/* Literal.Number, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct, Literal.Number.Integer.Long */ /* vim: Number */
.highlight .m, .mh, .mi, .mo, .il { color: #AE81FF }

/* Literal.Number.Float */ /* vim: Float */
.highlight .mf { color: #AE81FF }

/* Literal.String, Literal.String.Doc, Literal.String.Double, Literal.String.Heredoc, Literal.String.Other, Literal.String.Single */ /* vim: String */
.highlight .s, .sd, .s2, .sh, .sx, .s1 { color: #E6DB74 }

/* Literal.String.Backtick */ /* vim: Macro */
.highlight .sb { color: #C4BE89; font-style: italic }

/* Literal.String.Char */ /* vim: Character */
.highlight .sc { color: #E6DB74 }

/* Literal.String.Escape */ /* vim: SpecialChar */
.highlight .se { color: #F92672; font-weight: bold }

/* Literal.String.Interpol */ /* vim: Delimiter */
.highlight .si { color: #8F8F8F }

/* Literal.String.Symbol */ /* vim: Constant */
.highlight .ss { color: #AE81FF; font-weight: bold }

/* Name.Builtin.Pseudo */ /* vim: Constant */
.highlight .bp { color: #AE81FF }

/* Name.Variable.Class */ /* vim: Identifier */
.highlight .vc { color: #FD971F }

/* Name.Variable.Global */ /* vim: Identifier */
.highlight .vg { color: #FD971F }

/* Name.Variable.Instance */ /* vim: Identifier */
.highlight .vi { color: #FD971F }
