- @posts.each do |post|
  %article
    = haml :'post/header', locals: { post: post }

    - post.fold_split do |content, fold|
      ~ content
      .fold~ fold
      %a.read-more{href: post.path} more &raquo;
