!!! html

%html
  %head
    %link(rel="stylesheet" type="text/css" href="/css/application.css")
    %link(rel="stylesheet" type="text/css" href="/css/code.css")
    %script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="/js/application.js")

    - title "Things I Remember to Write Down"
    %title= title.join(' | ')
    %meta{name: 'description', content: description}

  %body
    #container
      %section= yield
      %nav
        %menu
          %li
            %a(href="/") Home
          - Content.ls('pages').each do |page|
            %li
              %a{href:page.path}= page[:title]

